
// -----------------------------
//  横並び用　デザイン
// -----------------------------
main.layout_flex {
    display: flex;
    gap: 1em;

    .Side_area {
        width: 240px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 2em 1em;

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            letter-spacing: 0.05em;

            li {}
            a {
                display: flex;
                gap: 0.5em;
            }
        }
    }
    .Text_area {
        width: calc((100% - 240px) - 1em );
        box-sizing: border-box;
        padding: 1em 0;
    }

}

.coment_type {
    width: clamp(300px, 96%, 1000px);
    margin: 1em auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 1em;
    position: relative;

    ::after {
        content: '▼';
        display: block;
        width: max-content;
        height: max-content;
        color: #fff;
        position: absolute;
        bottom: -1em;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 1.2em;


    }

    p {
        font-size: 1.1em;
        line-height: 1.6em;
        letter-spacing: 0.1em;
    }
}



.news_area {
    width: 100% ;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3em 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    .post_archive {
        width: clamp(240px, 24vw, 300px);
    }
    @media screen and (max-width:1090px) {
        .post_archive:nth-child(1){
            width: 100%;
        }
        .post_archive:not( :nth-child(1) ){
            width: calc((100% / 2) - 1em);
        }
    }
    // ワイド（1920pxタイプFullScreen）
    @media screen and (min-width:1600px) {
        .post_archive {
            width: clamp(240px, 24vw, 400px);
        }
    }



    li {
        width: calc((100% / 3) - 1em);
        box-sizing: border-box;
        padding: 1em;
        background-color: #fff;
        border-radius: 0.8em;
        font-size: 0.8em;
        letter-spacing: 0.05em;


        img {
            width: 100%;
            aspect-ratio: 4/3;
            margin: 0 0 1em;
        }
    }
}



.book_page {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;

    .book_inner {
        width: clamp(300px,96%,900px);
        margin: 0 auto;
        .inner_post {
            h2 {
                font-size: 1.3em;
                font-weight: bold;
                line-height: 1.1em;
                letter-spacing: 0.05em;
                margin: 0 0 1em;
                padding: 0 0 0.3em;
                border-bottom: 2px solid #333;
            }
            * h2 {
                margin: 2em 0;
            }
        }
        .post_content {
            .wp-block-code {
                background-color: #333;
                box-sizing: border-box;
                padding: 2em;
                overflow: scroll;
            }
            code {
                color: #fff;
            }

            * + p {
                margin: 1.6em 0;
                font-size: 1.1em;
                letter-spacing: 0.05em;
                line-height: 1.6em;
            }
        }
    }
}